a {
  color:#11999E;
}

a:hover {
  color: #EAF6F6;
}

body{
margin:0;
text-align: center;
font-family: 'Fira Sans', sans-serif;
color: #40514E;
}

h1 {
  margin:50px auto 0 auto;
  font-size: 100px;
font-family: 'Lobster', cursive;
color: #66BFBF;
}

h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
}

h3 {
  font-family: 'Cookie', cursive;;
  color: #11999E;

}

hr {
  border: 8px dotted ;
  border-bottom: 0;
  width: 4%;
  color: #EAF6F6;
}


.top-container{
  background-color: #EAF6F6;
  padding-top: 120px;
}

.profile{
  margin: auto 35% 100px;

}

.profile-image {
  border-radius: 300px;
  height: 250px;
  width: 250px;
}

.skills {
  margin-top: 100px;
}

.skill-mechanic {

  height: 25%;
  width: 25%;
  float:left;
  margin-right: 30px;

}

.skill-row{
   margin: 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.secon-skill {
  color: #11999E;
}

.skill-row-image{
  height: 25%;
  width: 25%;
  float:right;
  margin-left: 30px;
}

.middle-container {


}

.contact-me {
  margin-bottom: 50px;
  margin-top: 100px;
}
.contact-p {
  margin: 40px auto 40px;
}

.btn {
  background: #66BFBF;
    background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: linear-gradient(to bottom, #66BFBF, #66BFBF);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: 'Fira Sans', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 40px 0 40px;
}

.footer-link {
  color: #11999E;
  margin : 0 20px;
  text-decoration: none;
}

.bottom-name {
  color: #EAF6F6;
}

.top-cloud {
  position: absolute;
  top:50px;
  right:450px;
}

.bottom-cloud {
  position: absolute;
}
